*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    background-color: rgb(66, 57, 57);
    padding: 20px 4px;
    border-radius: 3px;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid black; */
}

#navbar li{
    /* padding: 15px; */
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 20px;
}

#introSection{
    height: 20rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    background-color: rgb(194, 180, 194);
    padding-bottom: 50px;

    
}


#ourmission {
    height: 21rem;
    /* border: 1px solid black; */
    /* background-color: rgb(188, 189, 177); */
    padding: 1px;
} 

#ourmission h2{
    padding: 7px;
} 

.cardContainer{
    display: flex;
}

.card{
    border: 1px solid black;
    /* height: 92%; */
    /* background-color: red; */
    border-radius: 10px;
    width: 30%;
    margin: 23px 75px;
    height: 233px;
    background-color: rgb(250, 246, 250);
}


#sponsersSections{
    height: 20rem;
    border: 1px solid black;
    
}


.center{
    display: flex;
    justify-content: center;
}

#footer{
    padding: 10px;
    margin: 3px 0px;
    background-color: rgb(58, 53, 53);
    color: white;
    text-align: center;
}