html{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);;
}
.card {

    backdrop-filter: blur(5px);
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 50px;
    margin-right: 2rem;
    margin-left: 2rem;
    height: 20rem;
}

