* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url("noaa-kcvlb727mn8-unsplash.jpg");
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    align-items: center;
    justify-content: center;
}


.heading{
    margin-top: 2rem;
    text-transform: uppercase;

}


.container{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5rem;
    
}
.row{
    /* margin-left: 35rem; */
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #12cffa 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media(max-width:700px)
{
    .animate-charcter{
        font-size: 3rem;
    }
}

.app-main-1 {
    margin-top: -20rem;
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(16, 247, 235, 0.907);
    padding: 20px;
    text-align: center;
    border-radius: 2rem;
}
@media(max-width:700px){
    .app-main-1{
        width: 40vh;
    }
}

.app-main-1 > * {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    border: none;
    outline: none;
    color: #210af4;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color: rgba(255,255,255,0.6);
}


.weather-body {
    display: none;
    color: #210af4;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.6);
    height: 50vh;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max, .weather {
    font-size: 12pt;
    font-weight: 600;
}

