*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: #fff;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), #3551b5),url("bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.head{
    font-size: 4rem;
    text-align: center;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background: transparent;
}

label{
    position: absolute;
    padding: 10px;
    transition: 0.3s;
}

input:focus~label,
input:valid~label{
    top: -30px;
    font-size: 13px;
}

::placeholder{
    color: #fff;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

@media only screen and (max-width: 576px) {
    .row{
        display: flex;
        flex-direction: column;
    }
  }