* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
}

#rape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 160, 213);
    text-transform: capitalize;
}

#mainHeading {
    font-size: 50px;
    padding: 0px;
    margin-bottom: 22px;
    /* border: 1px solid black; */
}

/* @media screen and (max-width: 650px) {
    #mainHeading {
        font-size: 18px;
        padding: 0px;
        margin-bottom: 22px;
    }
    .elem {
        display: flex;
        width: auto;
        align-items: center;
        gap: -15px;
    }
    #ptop {
        padding: -41px -22%;
        display: flex;
        color: #603030;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: 100px;
        background-color: rgb(60, 100, 60);
    }
    .box {
        color: rgb(60, 100, 60);
        font-weight: 700;
        font-size: 20px;
        padding: 5px 5px;
        background-color: wheat;
        border-radius: 5px;
    }
    .elem h2 {
        font-weight: 500;
        font-size: 21px;
    }
} */

#panel {
    width: 80%;
    height: 80%;
    background-color: wheat;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    padding: 0 10%;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(157, 72, 165);
}

.elem {
    display: flex;
    /* width: 10%; */
    align-items: center;
    gap: 20px;
}

.elem h2 {
    font-weight: bolder;
    font-size: 30px;
    /* color: black; */
}

.box {
    /* color: rgb(60, 100, 60); */
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    background-color: wheat;
    border-radius: 5px;
    color: black;
}

.box:hover {
    /* font-size: 50px; */
}

#pbtm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 10px; */
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: black; */
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 191, 0);
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(238, 130, 16);
    font-size: 50px;
}