html, body, h1, form, ul, li {
    margin-top: 40px;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #007BFF;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group {
    text-align: center;
  }
  
  .input-group {
    flex: 1;
    padding-right: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #007BFF;
  }
  
  input[type="button"] {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  
  ul#list_item {
    list-style: none;
  }
  
  ul#list_item li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
  }
  
  ul#list_item li span {
    flex: 1;
  }
  
  ul#list_item li button {
    padding: 5px 10px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  ul#list_item li button:hover {
    background-color: #cc0000;
  }
