.aside .logo a::before{
  border-top: 4px solid #0779e4;
  border-left: 4px solid #0779e4;
}
.aside .logo a::after{
  border-right: 4px solid #0779e4;
  border-bottom: 4px solid #0779e4;
}
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
  color: #0779e4;
}
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.btn,
.section-title h2::before,
.section-title h2::after,
.home .intro .social-link a,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
  background-color: #0779e4;
}
.contact-text,
.contact .contact-info-item .icon .fa,
.about .about-content .skills h1,
.timeline-text span,
.about .about-content .about-text h3 span{
  color: #0779e4;
}
