body {
    background-color: black;
    color: red;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    display: block;
    margin: auto;
}
    
    
button {
    background-color: green;
    block-size: 30px;
}