.container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: 60%;
    margin-top: 30px;
    height: 400px;
    align-items: center;
}
.container .crudeTable {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    width: 80%;
    height: 400px;
}
.container .crudeTable .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}
.container .crudeTable .row div{
    width: 25%;
    padding: 5px;
    border: solid 1px;
}
.container .crudeTable .row div input{
    width: 90%;
    border: solid 1px;
}
