*{
    padding: 0;
    margin: 0;
}
.box{
    display: block;
    border: 75px solid  rgb(137, 186, 232);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    height: 440px;
    width: 35%;
    box-shadow: 5px 5px  rgb(145, 169, 218);
}
.box1{
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
   

}
.heading{
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px rgb(194, 205, 232);
}
input[type="text"]{
    margin: 10px;
    border-radius: 12px;
    border: 2px solid lightgray;
    padding: 8px;
    width: 365px;
    box-shadow: 5px 5px #d4dfed;
    overflow: hidden;
}
input[type="email"]{
    margin: 10px;
    border-radius: 12px;
    border: 2px solid lightgray;
    padding: 8px;
    width: 365px;
    box-shadow: 5px 5px  rgb(194, 205, 232);
    overflow: hidden;
}
input[type="password"]{
    margin: 10px;
    border-radius: 12px;
    border: 2px solid lightgray;
    padding: 8px;
    width: 365px;
    box-shadow: 5px 5px rgb(194, 205, 232);
    overflow: hidden;
}
input[type="submit"]{
    padding: 12px;
    border: 1px solid rgb(57, 42, 193);
    border-radius: 15px;
    background-color: rgb(29, 40, 115);
    margin: 55px;
    color: white;
    box-shadow:4px 5px rgb(162, 178, 223);
    }
    p{
        text-align: center;
    }
    .h3,.head{
        font-weight: 300;
        text-align: center;
        color: rgb(58, 36, 138);
        font-size: small;
    }
    .head{
        padding: 10px;
        
    }
    .text input[type="text"]{
        padding-left: 40px;
    }
    .text{
        position: relative;
    }
    .text i{
        position: absolute;
        padding: 20px;
        top: 1px;
    }
    .mail input[type="email"]{
        padding-left: 40px;
    }
    .mail{
        position: relative;
    }
    .mail i{
        position: absolute;
        padding: 20px;
        top: 1px;
    }
    .pass input[type="password"]{
        padding-left: 40px;
    }
    .pass{
        position: relative;
    }
    .pass i{
        position: absolute;
        padding: 20px;
        top: 1px;
    }
    a:hover{
        color: black;
    }
    input[type="submit"]:hover{
        background-color: rgb(57, 42, 193);
    }
    i{
        color: rgb(29, 40, 115);
    }
