body{
    background-color: rgb(25, 160, 160);
}
h1{
    font-size: 80px;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: row;
row-gap: 130px;
justify-content: space-between;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
button{
    height: 150px;
    width:150px;
    font-size: 60px;
    color:yellow;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.w{
    background-image: url("tom1.png");
    
}
.a{
    background-image: url("tom2.png");
}
.s{
    background-image: url("tom3.png");
}
.d{
    background-image: url("tom4.png");
}
.j{
    background-image: url("snare.png");
}
.k{
    background-image: url("crash.png");
}
.l{
    background-image: url("kick.png");
}
p{
    margin-top: 13%;
    text-align: center;
    color:white;
    font-size: 22px;
}