:root {
  --color-main: #f9f7e8;
  --color-text: #333;
   --color-accent: #61bfad;
  --color-dark: #ddd;
  --width-max: 30rem;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: var(--color-text);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  margin: 0 auto;
  flex: 1 0 auto;
  padding: 0 0.5rem;
  width: 100%;
  max-width: var(--width-max);
}
h1 {
  text-align: center;
}
footer {
  width: 100%;
  text-align: center;
  color: var(--color-text);
  padding: 0 2rem;
}

button {
  color: var(--color-text);
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  outline: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: white;
}
textarea {
  color: var(--color-text);
  border: 1px solid var(--color-dark);
  outline: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  height: 30vh;
  resize: none;
}
textarea:focus {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
}
a:hover {
  color: var(--color-accent);
}

#div-table {
}

table {
  border-collapse: collapse;
  margin: 0.75rem 0;
}
td {
  word-break: break-all;
  padding: 0.5rem;
  border: 1px solid var(--color-dark);
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:hover {
  background-color: var(--color-dark);
}
th {
  border: 1px solid var(--color-accent);
  padding: 0.5rem 0.5rem;
  text-align: left;
  background-color: var(--color-accent);
  color: white;
}
td:nth-child(3) {
  width: 100%;
}