* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: url("../media/abstract_17.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}
.navbar img {
    width: 100px;
    margin: 10px 0px 0px 40px;
}
button[type="button"] {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1 {
    font-size: 80px;
    margin: 10px 0px 30px;
    line-height: 80px;
}
.side-bar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}
i.fa-bars {
    font-size: 25px;
    margin: .625rem auto 1rem 10px;
    cursor: pointer;
    color: white;
}
.social-links {
    font-size: 25px;
    margin: .625rem auto 1rem 10px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 35%;
}
.useful-links {
    font-size: 25px;
    margin: .625rem auto 1rem 10px;
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 1%;
}
.fa-brands {
    margin: 0 0 20px 0px;
}
.fa-facebook:hover {
    color: #1a73e9;
    margin: 0 0 20px -25px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 35px;
    transition: .5s;
}
.fa-instagram:hover {
    color: white;
    margin: 0 0 20px -25px;
    background-image: linear-gradient(40deg, rgb(243, 175, 4), rgb(241, 101, 38), rgb(195, 59, 88), rgb(165, 34, 156));
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    transition: .5s;
}
.fa-twitter:hover {
    color: white;
    margin: 0 0 20px -25px;
    background-color: rgb(42, 158, 230);
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    transition: .5s;
}
.useful {
    margin: 0 0 20px 0px;
}
.fa-share-nodes:hover {
    color: black;
    margin: 0 0 20px -25px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    transition: .5s;
}
.fa-circle-info:hover {
    color: white;
    margin: 0 0 20px -25px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 38px;
    padding: 1px;
    transition: .5s;
}
.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -150px;
}


@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 30px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 50px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 70px;
}
.bubbles img:nth-child(4){
    animation-delay: 5s;
    width: 30px;
}
.bubbles img:nth-child(5){
    animation-delay: 2.5s;
    width: 50px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 30px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 100px;
}



@media screen and (max-width: 600px)
{
    h1 {
            font-size: 36px;
            line-height: 50px;
    }
    .side-bar {
        width: 100vw;
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .social-links {
        font-size: 25px;
        margin: 2rem auto 1rem 10px;
        color: white;
        position: unset;
    }
    .useful-links {
        font-size: 25px;
        margin: 2rem auto 1rem 10px;
        color: white;
        position: unset;
    }
    .main {
        background-image: linear-gradient(#000e2e, #004f5a);
    }
    .navbar img {
        width: 60px;
        margin: 10px 0px 0px 20px;
    }
    .fa-brands, .useful {
        height: 50px;
        margin-top: 20px;
        margin-right: 10px;
    }
}