*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
body {
    background:#222;
    color:#fff;
}
.lpage{
    display:flex;
    flex-flow:column nowrap;
background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE4WQSK3mN0kgSOLXTmo-H3w49411dgtt6_ir9jwEhBfEZxj91gXbmQw4&s=10");
background-position:-20%;
    color:#fff;
    position:relative;
}
.lpage::before{
    content:" ";
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:0; background:radial-gradient(rgba(0,0,0,.4),rgba(0,0,0,1));
    }
.lpage > *{
    z-index:1;
}
.logo{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:30px;
}
.logoname{
    color:#E50914; 
    font-weight:bolder;
    font-size:24px;  
}
.signin{
    color:#fff;
    background:#E50914;
    padding:5px;
    border-radius:5px;
}
.lpage h2{
    width:90%;
    margin:auto;
    padding:5px 10px;
    text-align:center;
    margin-bottom:20px;
}
.lpage p{
    width:90%;
    margin:auto;
    padding:5px 15px;
    text-align:center;
    margin-bottom:20px;
}
.lpageMail{
    display:flex;
    flex-flow:column nowrap;
    width:90%;
    margin:auto;
}
.mail{
    padding:10px;    
    width:90%;
    margin:auto;
    margin-top:20px;
    border-radius:2px; 
    border:none;   
}
.btn{
    width:50%;
    margin:auto;
    margin-top:20px;
    padding:10px;
    background:#E50914;
    color:#fff;
    border:none;
    outline:none;
    border-radius:2px;
    margin-bottom:30px;
}

.tv,.mobile,.laptop,.faq{
    background:#000;
    margin-top:5px;
    display:flex;
    flex-flow:column nowrap ;
    padding:30px 0px;
}
.text{
    width:90%;
    margin:auto;
}
.text h2{
    width:90%; 
    margin:auto;
    text-align:center;
    margin-top:10px;
}
.text p{
    width:90%; 
    margin:auto;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.visual{
    width:90%;
    margin:auto;
    margin-bottom:20px;
}
.tvimg{
    width:70%;
    display:block;
    margin:auto;
    height:150px;
}
.ques{
    /* display:flex;
    flex-flow:column nowrap;
    */
    
    margin-bottom:20px;
    margin-top:20px;
    
}
.ques div{
    margin:auto;
    background:#333 ;
    padding:8px;
    font-size:18px;
    width:98%;
    margin-top:5px;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #000;
}
.hide{
    display:none;
}
article{
    width:98%;
    margin:auto;
    padding:15px;
    word-break:break-all;
    background:#333 ;
}
.x{
    transform:rotateZ(45deg);
}
.faqp{
    width:90%;
    margin:auto;
    padding:5px 15px;
    text-align:center;
    margin-bottom:10px;
}
.contacts{
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    color:gray;
}
.navs{
   margin-bottom:20px;
}
.navs div{
    display:flex;
    justify-content:space-between;
    width:90%;
    margin:auto;
    margin-bottom:10px;
}
.navs div span{
    width:50%;
    text-align:left;
    font-size:12px;
    color:gray;
}
.navs div span:hover{
    text-decoration:underline ;
}
.lang{
    width:30%;
    margin-left:5%;
    color:#fff;
    border:1px solid gray;
    border-radius:2px;
    padding:8px 5px;
    display:flex;
    justify-content:space-around;
}
.link{
    width:40%;    
    margin:5%;
}
.link a{
    color:gray;
}
@media screen and (min-width:400px){
    
.tv,.laptop{
    flex-flow:row nowrap;
} 
.mobile{
    flex-flow:row-reverse nowrap;
}   
.lpageMail{
    flex-flow:row nowrap;
    width:70%;
    margin:auto;
    font-size:16px;
}  
.mail{
    width:70%;
    padding:10px;
    height:100%;
    border-radius:2px 0px 0px 2px ;
} 
.btn{
    width:30%;
    padding:10px;
    height:100%;
    border-radius:0px 2px 2px 0px ;
}   
.ques div{
    width:70%;
    margin:auto;
    margin-top:5px;
    border-bottom:1px solid #000;
}
article{
    width:70%;
    margin:auto;
    padding:15px;
    word-break:break-all;
    background:#333 ;
}
.navs{
    width:90%;
    margin:auto;
    display:flex;
    flex-flow:row wrap; 
    margin-bottom:20px;
}
.navs > div{    
    width:45%;
    margin:0px 0px 10px 0px;
}
      
}