.top-container {
  padding: 20px;
  background-color: #EAF6F6;
}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF;

  height: 120px;
}

body {
  margin: 0px;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  font-family: cursive;
  font-size: 90px;
  margin-top:100px ;
  margin-bottom: 0;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-weight: normal;
  font-size: 2.5rem;
 margin-top: 0px;
  color: #66BFBF;
}
h3{
  color: #11999E;
  padding-top: 0;
}
.bottom-cloud {
  position: absolute;
}
.footer-link{
  color:#11999E;
}

.top-cloud {
  position: absolute;
  margin-top: 50px;
  right: 350px;
  top: 30px;
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;

}
.computer{
  align: 0px 100px auto 100px;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.chillies{
  align: 0px 100px auto 100px;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.mountain{
  margin-bottom: -23px;
}
.image{
  margin-top: 10px;
}
.hr{

  border-color: grey;
    border-width: 5px;
    border-style: dotted none none;
    width: 5%
}
.margin{
  margin-bottom: 0px;
  padding-left: 30px;
}
.color{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
  margin-top: 0;
}

a:hover{
  color: #ffffff;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}
.h1{
  font-size: 70px;
  padding-left: 30px;
}
.font{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.computer{
  height: 175px;
  width: 150px;

}
.para{
  margin-right: 200px;
}
.chillies{
  height: 150px;
  width: 200px;
}
