    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');



    *{
        margin: 0px;
        box-sizing: border-box;
    }
    body{
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
    }

    .outer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    .outer.hover-left .left{
        width: 75%;
    }

    .outer.hover-left .right{
        width: 25%;
    }

    .outer.hover-right .right{
        width: 75%;
    }
    .outer.hover-right .left{
        width: 25%;
    }


    /* ----------------------------------------------------------Left (PS5)---------------------------------------------------- */

    .left{
        height: inherit;
        width: 50%;
        transition: all 1.3s ease;
        background: rgba(80, 60, 240, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: inherit;
        width: inherit;
        background-image: url(./Images/Ps5.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center ;
        z-index: -1;
    }


    /* ---------------------------------------------------Right---------------------------------------------- */

    .right{
        height: inherit;
        width: 50%;
        transition: all 1.3s ease;
        /* border-left: 2px solid black; */
        background: rgb(23 36 26 / 80%);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .right::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: inherit;
        width: inherit;
        background-image: url(./Images/grp2.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        z-index: -1;
        /* background-position: center;  */
    }
    /* ------------------------------------------------------------------------------------------------ */
    a{
        opacity: 0;
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        padding: 20px 20px;
        border: 3px solid white;
        transition: all 1.3s ease;
    }


    .outer.hover-right .right a{
        opacity: 1;
    }


    .outer.hover-left .left a{
        opacity: 1;
    }