.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 59px;
    width: 85px;
    z-index: 200;
    padding: 5px 0 0 0;
    background-color: white;
}

.sidebar-item{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-item:hover{
    background-color: rgb(235, 235,235);
}

.sidebar-item img{
    height: 30px;
    margin: 0 0 4px 0;
}

.sidebar-item div{
    font-family: Roboto, Arial;
    font-size: 10px;
}