.video-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 17px;
    row-gap: 30px;
}

@media screen and (max-width: 750px){
    .video-container{
        grid-template-columns: none;
        grid-template-rows: repeat(6,1fr);
    }
}

@media (min-width: 751px) and (max-width: 1549px){
    .video-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1550px){
    .video-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-thumbnail{
    width: 100%;
    cursor: pointer;
}


.thumbnail-row{
    margin: 0 0 12px 0;
    position: relative;
}

.vid-duration{
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 2px;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;

    position: absolute;
    bottom: 8px;
    right: 5px;
}

.vid-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic{
    cursor: pointer;
    width: 36px;
    border-radius: 20px;
    margin: 5px 0 0 0;
}

.video-title{
    margin: 5px 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author{
    margin: 0 0 4px 0;
    cursor: pointer;
}

.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}







