doctype html
html
  head
    title Dance Acadamy
    block scripts
    block style
  body
    nav#navbar.top 
        ul
            li #[a(href='/' target='_blank') Home]
                    
            li #[a(href='/about' target='_blank') About Us]
                       
            li #[a(href='/contactUs' target='_self') Contact Us ]
                    
            li #[a(href='/classInfo' target='_blank') Class Info ]
                     
            li #[a(href='/services' target='_blank') Services]
    block content
        
    block foot 
        footer#footer
            | &copy All rights reserved 