extends base.pug

block scripts 
    script (src='/static/index.js')


block style 
    style 
        include ../static/style.css
        include ../static/contactUsStyle.css


block content 
    div.container
        h1 Contact Us
        form(action="/contactUs", method="post" ,class="myForm")     
            input(type="text", class="myInput",name="name", placeholder="Enter your Name")
            input(type="phone", class="myInput",name="phone", placeholder="Enter your phone no.")
            input(type="email", class="myInput",name="email", placeholder="Enter your email")
            input(type="text", class="myInput",name="address", placeholder="Enter your address")
            input(type="text", class="myInput",name="desc", placeholder="Enter your concerns")
            button.btn 
                | Submit