extends base.pug

block scripts 
    script (src='/static/index.js')

block style 
    style 
        include ../static/style.css

block content 
    
    section#introSection
        div Welcome
        div This is official site...
        
    section#ourmission  
        h2.center Our Mission 
        div.cardContainer
            div.card
                h3.center This is a para
            div.card
                h3.center This is a para
            div.card
                h3.center This is a para



    section#sponsersSections
        h2.center Our Sponsers