doctype html
html
    head 
        title Title     
        style 
            include ../static/style.css
    
    body 
        nav#navbar.top 
            ul
                li #[a(href='/' target='_blank') Home]
                    
                li #[a(href='/about' target='_blank') About Us]
                       
                li #[a(href='/contactUs' target='_blank') Contact Us ]
                    
                li #[a(href='/classInfo' target='_blank') Class Info ]
                     
                li #[a(href='/services' target='_blank') Services]
                    

        section#introSection
            div Welcome
            div This is official site...
        
        section#ourmission  
            h2.center Our Mission 
            div.cardContainer
                div.card
                    h3.center This is a para
                div.card
                    h3.center This is a para
                div.card
                    h3.center This is a para



        section#sponsersSections
            h2.center Our Sponsers

        footer#footer
            | section for footer
    script 
        include ../static/index.js