<div class="container mt-3">
	<div class="row">
		<div class="col text-center">
			<img
				src="img/profile.jpg"
				alt="Abil Sabili"
				class="img-thumbnail rounded-circle"
				width="250px"
			/>
			<h1 class="display-4">Abil Sabili</h1>
			<p class="lead">Web Enthusiast</p>
		</div>
	</div>
</div>
