@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
	padding: 0;
	margin: 0;	
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
.team{
	/* position: relative; */
	width: 100%;
	height: 100vh;	
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 80%;		
	display: flex;	
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

@media(max-width: 900px){
	.team-content{
		flex-direction: column;
	}
    .box{
        max-width: 60%;
    }
}

@media(max-width: 768px){
    .box{
        max-width: 70%;
    }
}