body{
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat';
    overflow: hidden;
}

section{
    display: grid;
    grid-template-columns: repeat(10,auto);
    
}
 div{
    background-color: beige;
    height: 100vh; 
    /* margin: 5px;  */
}

h1{
    position: absolute;
    top: 40%;
    left: 12%;
    opacity: 0;
    z-index: 2;
}