body{
	font-family: Arial, Helvetica, sans-serif;
}
form {
	border: 3px solid #f1f1f1;
}

input[type=text], input[type=password]
 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #7a06a4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor:pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  
}

.container {
	/* text-align: center; */
  padding: 14px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

h2{
	text-align: center;
}
