@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: #161b22;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
}

.upper input[type=text]{
  
    font-size: large;
    width: 20%;
    border-radius: 6px;
    height: 40px;
    outline: none;
    border: none;
    /* background-color: #01040959; */
    background-color: rgb(233, 223, 223)
}

::placeholder{
    color: grey;
    text-align: center;
}
/* 
.upper input[type = text]:hover{
    color: grey;
} */

.upper button{
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    background-color: #010409d2;
    color: grey;
    border-radius: 6px;
    height: 40px;
    width: 20%;
    margin: 30px;
    cursor: pointer;
    transition: font-size 500ms ease;
}
.upper button:hover{
   font-size: 15px;
}

/* ---------------------- */

.bottom{
    height: 60%;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 100%;
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

.card .bold{
margin-top: 10px;
font-size: 20px;
font-weight: bolder;
color: rgb(236, 116, 116);
}

.card .light{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.card img{
    height: 60px;
    border-radius: 100px;
}