.videoRow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.videoRow img{
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.videoRow_text{
    margin-left: 14px;

}

.videoRow_description{
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.videoRow_headline{
    font-size: 12px;
    color: #606060;
}
.videoRow_subs{
    background-color: lightgray;
    padding: 2px;
}
.videoRow_subnumber{
    font-weight: bolder;
    color: rgb(84, 157, 211);
}