.videoCard{
    margin-bottom: 40px;
    width: 270px;
}

.videoCard_thumbnail{
    height: 140px;
    width: 250px;
}
.video_info{
    display: flex;
     margin-top: 10px;
     padding-right: 30px;
}

.video_text{
    margin-left: 15px;
}
.video_text h4{
    margin-top: 7px;
}
.video_text p{
    margin-top: -15px;
    font-size: 15px;
    color: gray;
}
.videoCard_avata{
    height: 30px !important;
    width: 30px !important; ;
}