html {
  font-size: 62.5%; /* 16 px x 62.5 = 10px = 1 rem */
  box-sizing: border-box;
}
   

body {
  margin: 0;
  height: 100vh;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  font-size: 2.5rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* Common*/

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

ul {
  padding: 0;
  margin-left: 1rem;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

/* Header */

header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  font-family: Officina;
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  margin-left: 0rem;
}


.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 2rem;
  margin-left: 0.4rem;
}

/* Aside */
aside{
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}

aside.open{
  transform: translateX(0);
}

button.open-sidebar{
  font-size: 3rem;
  padding: 0.5rem 0.1rem 0.1rem 0.5rem !important;
  margin: 0rem 2rem; 
  background: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

button.open-sidebar:hover{
  border: 0.1rem #a4a4a4 solid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  border-color: #ffffff;
}

aside ul{
  padding: 0;
  list-style-type: none;
}

aside li{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button.close-sidebar{
  padding: 0.3rem, 0.8rem;
}


/* ROW */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.p-1 {
  padding: 1rem;
}

/* Image */

img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  min-height: 44rem;

}

img.large {
  width: 100%;
}

/* Card */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  /*all card-body childs will use this property */
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Rating */

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
  margin-left: 1.2rem;
}

/* Alert */
.loading {
  display: block !important;
}

.danger {
  color: #a02020;
}

.success {
  color: #20a020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-error {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.alert-success{
  color: #20a020;
  background-color: #eeffe0;
}

/* FORM */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  /* parent:checkout-steps - child:div */
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}

.table button {
  margin: 0 0.5rem;
}

/* Carousel */

.carousel .slide img{
  max-width: 33rem;
}



/*Search*/
.search button{
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  justify-content: center;
  width: 50rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* CONTAINER */

.product-header-wrapper {
  inline-size: 27rem;
  overflow-wrap: break-word;
  hyphens: calc(auto);
}




