
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 40, 77);
    
}
h1{
    font-family: 'Sedgwick Ave Display', cursive;           
    display: flex;
    justify-content:center ;
    align-items: center;
    color: rgb(67, 252, 252);
    font-size: 5rem;            
    text-shadow: 2px 2px red;
    padding-top: 80px;
}
p{
    font-family: 'Sedgwick Ave Display', cursive;          
    display: flex;
    
    color:rgb(67, 252, 252);
    font-size: 2rem;            
    text-shadow: 2px 2px red;
    padding-top: 100px;
}


.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    color: azure;
    font-family: 'Sedgwick Ave Display', cursive;
    padding-top: 200px;
}
.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 30px;
}

