*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  border: none;
  outline: none;
  background-color:aquamarine;
  font-size: 24px;
  font-family: 'Montserrat';
  padding: 20px;
  cursor: pointer;
}
h2{
  font-family: 'Montserrat';
  font-size: 30px;
  margin-top: 30px;
}