*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    
}

button{
    cursor: pointer;
    border: none;
   
}

img{
    cursor: pointer;
}

body{
    font-family: sans-serif;
    margin: 0;
    position: relative;
    color: hsl(220, 13%, 13%);
}

main{
    margin-bottom: 20%;
}

#container{
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 25px 17px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid hsla(221, 29%, 75%, 0.25);
}

.page-logo{
    align-self: center;
    margin-right: 15px;
}


.open-menu{
    align-self: flex-end;
    margin-right: 10px;
    cursor: pointer;
}

.close-menu{
    width: 20%;
    cursor: pointer;
}

.flex-start{
    display: flex;
}

.flex-end{
    display: flex;
    align-items: center;
}

.avatar img{
    width: 24px;
    margin-left: 10px;
}

.avatar img:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 15px;
}

.cart-icon{
    width: 50px;
    position: relative;
    /* margin-top: 4px; */
}

.cart-icon img{
    width: 28px;
}

.btn-badge{
    background: hsl(26, 100%, 55%);
    color: #fff;
    padding: 1px 7px;
    border-radius: 10px;
    position: absolute;
    top: -8px;
    left: 11px;
    font-size: 12px;
}

.nav-bar ul li{
    justify-self: flex-start;
    margin-left: 30px;
    display: none;
}

.nav-bar ul li a{
    color: rgb(142, 136, 136);
    text-shadow: 0 0 4px #ccc;
    font-size: 15px;
}

.mobile-menu{
    width: 50%;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 11;
    padding: 24px;
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
}

.mobile-menu-open{
    transform: translateX(0%);
}
.mobile-nav-bar ul li{
    margin: 23px 0;
}

.mobile-nav-bar ul li a{
    color: hsl(220, 13%, 13%);
    font-size: 22px;
    font-weight: 700;
    
}


.slide-gallery--display img{
    width: 100%;
}

.main-content{
    padding: 0 17px;
}

.company{
    font-size: 15px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
}

.description{
    color: hsl(219, 9%, 45%);
    line-height: 1.6;
}

.price{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}

.discount-price{
    font-size: 32px;
    margin-bottom: 10px;
}

.discount-price .discount{
    font-size: 18px;
    margin-left: 10px;
    background: hsl(25, 100%, 94%);
    padding: 6px 9px;
    border-radius: 7px;
    color: hsl(26, 100%, 55%);
    
}

.slash-price{
    color: hsl(220, 29%, 75%);
    text-decoration: line-through; 
}

.cal-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background: hsl(223, 64%, 98%);
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    flex-grow: 1;
}

.number{
    font-size: 22px;
}


#plus {
    color: hsl(26, 100%, 55%);
    cursor: pointer;
    background: transparent;
    font-size: 30px;
}

#minus{
    color: hsl(26, 100%, 55%);
    cursor: pointer;
    background: transparent;
    font-size: 30px;
}

.main-btn{
    height: 60%;
    width:100%;
    background: hsl(26, 100%, 55%);
    color: #fff;
    outline: none;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 10px 15px hsla(26, 100%, 55%, 0.527);
}

.main-btn .btn-icon{
    margin-right: 10px;
    width: 20px;
}

.slide-cont{
    display: none;
}

.slide-gallery{
    width: 80px;
}

@media screen and (min-width:660px) {

    .avatar img{
        width: 33px;
    }

    .cart-icon img{
        width: 20px;
    }

    .avatar img:hover{
        border-radius: 25px;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 75px;
        max-width: 950px;
        margin: 60px auto;
    }

    main .main-content{
        align-self: center;
    }

    .headline{
        font-size: 42px;
    }

    .price{
        flex-direction: column;
        max-width: 230px;
        align-items: stretch;
    }

    .main-flex{
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 10px;
    }


    .main-flex .main-btn{
        margin: 20px auto;
    }

    .slide-gallery--display img{
        width: 100%;
        border-radius: 10px;
    }

    .nav-bar ul li{
        display: inline-flex;
    }

    .open-menu{
        display: none;
    }

    .slide-cont{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    }
}

.cart-box{
    width: 30%;
    height: 230px;
    box-shadow: 0 15px 20px 4px rgb(226, 223, 223);
    background: #fff;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 85px;
    left: 769px;
    padding-bottom: 18px;
}

.show-case{
    display: none;
}

@media screen and (max-width: 660px){
   .cart-box{
        top: 11%;
        left: 5%;
        box-shadow: none;
        width: 90%;
   }

   .cart-flex{
        font-size: 18px;
   }
}




.cart-head {
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    padding: 10px;
}

.cart-display{
    margin-top: 0;
    padding: 8px 18px;
}

.cart-flex{
    display: grid;
    grid-template-columns: 50px 1fr 20px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-between;
}

.cart-image{
    width: 40px;
    border-radius: 5px;
}

.cart-text{
    font-size: 14px;
    font-weight: 400;
    color: hsl(219, 9%, 45%);
}

.delete-icon{
    align-self: center;
}

.cart-btn{
    width:100%;
    background: hsl(26, 100%, 55%);
    color: #fff;
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 10px;
    font-size: 13px;
}

.total{
    font-size: 18px;
    font-weight: 600;
    margin-left: 3px;
    color: #333;
}

.non{
    font-size: 14px;
}

#empty{
    margin: 40px auto;
    text-align: center;
    color: hsl(219, 9%, 45%);
    font-weight: 600;
}






