@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

:root {
    --i: 0;
    --show-card: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.4rem;
    transition: all 0.5s ease-in-out;
    padding: 0.25rem 1rem;
}

a:hover {
    background: white;
    color: darkslategray;
}

.navbar {
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    padding: 1.5rem 1rem;
    position: relative;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.4);
}



.logo img {
    width: 12rem;

}

.title {
    display: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: azure
}

#account {
    position: absolute;
    right: 2rem;
    top: 2.5rem;

}

.account .profile {
    display: none;
}

.user .link {
    display: none;
}

.user .profile {
    display: block;
}

.main {
    width: 90%;
    margin: 2rem auto;

}

.sub-title {
    text-align: center;
    color: darkslategray;
    margin-top: 1rem;
    font-weight: 300;
    margin-bottom: 4rem;
    opacity: 0.6;

}

.sub-title small {
    font-family: sans-serif;
    font-size: 14px;

}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 5rem;
}

.card {
    min-height: 50rem;
    background-color: white;
    border: 2px solid darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-hero {
    width: 100%;
    height: 70%;
}

.card-hero a {
    width: 100%;
    height: 100%;
}

.card-hero img {
    width: 100%;
    height: 100%;
}

.card-title {
    font-size: 2em;
}


.card-info {
    width: 100%;
    height: 2rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.description {
    color: grey;
    margin-bottom: 1rem;
}

.display {
    visibility: visible;
}

.more {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background-color: darkslategray;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin-top: 2rem;
}

.more:hover {
    border: 2px solid darkslategray;
}

.movie-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
    margin-top: 4rem;
    overflow: hidden;
    gap: 1rem;
    text-align: center;

}

.movie-poster {
    width: 100%;
    height: 41rem;
    display: flex;
    transition: 0.5s ease-in-out;
}

.hide {
    transform: scale(0.5);
    opacity: 0.5;
    display: none;
}


.movie-poster div {
    width: 100%;
    height: 41rem;
    transition: 0.5s ease-in-out;
}

.show {
    display: block;
    width: 100%;
}

.movie-poster img {
    height: 100%;
    width: 100%;
}

/* .sliders{
    position:absolute;
    top: 45rem;
    width: 100%;
    display: ;
} */
.slider {
    position: absolute;
    top: 32rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    color: black;
    z-index: 2;
}

.left-slider {
    left: 2rem;
}

.right-slider {
    right: 2rem;
}

.movie-info {
    width: 100%;
    font-size: 1rem;
    position: relative;
}



.movie-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.movie-genre {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.movie-genre div {
    padding: 0.5rem 1rem;
    border: 1px solid darkslategray;
    border-radius: 1rem;
    margin-right: 2rem;
    transition: all 0.5s ease-in-out;
    background: darkslategray;
    color: white;
}

.movie-genre div:hover {
    background-color: white;
    color: black;
}

.movie-duration {
    margin-bottom: 1rem;
}

.movie-rating {
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.movie-release {
    margin-bottom: 1rem;
}

.movie-directors {
    font-size: 1.75rem;
    font-weight: 500;
}

.subtitle {
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 500;
}

.movie-cast {
    margin-top: 2rem;
}

.cast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    margin-top: 1rem;
}

.actors {
    padding: 1rem;
}

.actors img {
    width: 100%;
}

.actors p {
    text-align: center;
    font-size: 1rem;
}

.watch {
    position: fixed;
    bottom: 0;
    right: 0;
}

.watch a {
    background-color: darkslategray;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}




@media screen and (min-width:501px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 5rem;
    }

    .card-title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 799px) {

    .sub-title small {
        font-size: 18px;
    }

    .movie-poster {
        transform: translateX(calc(var(--i)*1%))
    }

    .movie-container {
        padding: 1rem;
        border: 2px solid darkslategray;
        gap: 4rem;
        text-align: left;
    }

    .hide {
        display: block;
    }

    .show {
        width: 33%;
    }

    .slider {
        font-size: 3rem;
    }

    .left-slider {
        left: 8rem;
    }

    .right-slider {
        right: 8rem;
    }

    .movie-info {
        font-size: 1.25rem;
        position: relative;

    }

    .movie-title {
        font-size: 4rem;
    }

    .movie-about {
        display: flex;
        justify-content: space-between;
    }

    .cast-container {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
    }

    .watch {
        position: absolute;
        top: 50%;
        right: 0;
    }

}

@media screen and (min-width: 1199px) {
    .card-title {
        font-size: 2em;
    }

    .logo img {
        width: 10rem;
    }

    .title {
        display: block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 5rem;
    }

    .movie-container {
        padding: 2rem;
    }
    .cast-container {
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
    }

}