body{
    margin: 80px;
    background-image: url("bg.png");

}
h1{
    text-align: center;
    font-size: 66px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bolder;
    background: -webkit-linear-gradient( purple  , #008080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box{
    height: 450px;
    width: 400px;
    align-content: center;
    border: 1px solid #C3B1E1;
    background-color: #C3B1E1;
    margin: auto;
    border-radius: 15px;
}
.button{
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 2px solid #C3B1E1;
    background-color: lightslategray;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.button:hover{
    background-color: #C3B1E1;
    color: black;
}
.row{
    text-align: center;
}
.row input{
    font-size:50px ;
    color: white;
    margin: 3px;
    padding:5px 5px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 270px;
    border: 2px solid #C3B1E1;
    background-color: #C3B1E1;
    height: 10px;
    text-align: right;
}
.row1{
    text-align: center;
}
.row1 .button{
    border-radius: 50%;
    background-color: #008080;
}
.row1 .button:hover{
    background-color: #C3B1E1;
}
.buttons{
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 2px solid #C3B1E1;
    background-color: #008080;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.buttons:hover{
    background-color: #C3B1E1;
}