*{
    background-color: #A0D0EA;
}

h1{
    color: black;
    text-align: center;
    font-size: 6rem;
}



#num11{
   
    margin-left: 26%;
    background-color: aliceblue;
    width: 20rem;
    height: 2rem;
    border-radius: 20px;
    border-color: blueviolet;
    
    
}
#num22{
    
    background-color: aliceblue;
    width: 20rem;
    height: 2rem;
    border-radius: 20px;
    border-color: blueviolet;
    
    
    
}

::placeholder{
    
    font-size: large;
    text-align: center;
    color: blueviolet;
}

.button1{
    margin-left: 44.8%;
    background-color: #FD9FA9;
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 40px;
    border-color: black;
}
.button2{
    background-color: #FD9FA9;
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 40px;
    border-color: black;

}
.button3{
    margin-left: 44.8%;
    background-color: #FD9FA9;
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 40px;
    border-color: black;

}
.button4{
    background-color: #FD9FA9;
    width: 80px;
    height: 80px;
    font-size: 60px;
    border-radius: 40px;
    border-color: black;

}

.calculate{
    background-color: yellow;
    margin-left: 41%;
    width: 280px;
    height: 60px;
    font-size: xx-large;
    border-radius: 20px;
}