black==21.9b0
click==8.0.3
colorama==0.4.4
flake8==4.0.1
mccabe==0.6.1
mpmath==1.3.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pycodestyle==2.8.0
pyflakes==2.4.0
PySide2==5.15.2
PySimpleGUI==4.49.0
PySimpleGUIQt==0.35.0
regex==2021.10.8
shiboken2==5.15.2
sympy==1.9
tomli==1.2.1
typing-extensions==3.10.0.2
