/* .main-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8184a1;
  line-height: 1.3;
}
h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}
/* a:link, a:visited {
  transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
} */
.container {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantityminus,
.quantityplus {
  display: block;
  width: 32px;
  height: 33px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 33px;
  font-size: 20px;
}
.quantityminus:hover,
.quantityplus:hover {
  background: #575b71;
  color: #fff;
}
.quantityminus {
  border-radius: 3px 0 0 3px;
}
.quantityplus {
  border-radius: 0 3px 3px 0;
}
.quantityinput {
  width: 42px;
  height: 29px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantityminus:link,
.quantityplus:link {
  color: #8184a1;
}
.quantity__minus:visited,
.quantityplus:visited {
  color: #fff;
}