body{
    background: rgb(4, 13, 53);
}
div{
    display: flex;
    justify-content: center;

    width: 90px;px;
    height:30px;
    background-color:rgb(245, 239, 230);
}
#clockContainer{  
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    margin: auto;
    height: 50vw;
    width: 49vw; 
    background: url(clock3.jpeg) no-repeat;
    background-size: 100%;
    border-radius:50%;
    border-color: rgb(218, 19, 19);
}

#hour, #minute, #second{
    position: absolute;
    border-radius: 30px; 
    transform-origin: bottom;
   
}
#hour{
    width: 1.8%;
    height: 24%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
    background-color:crimson;
    
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
    background-color: #000000;
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    background-color:#000000 ;
    
}