*
{
    margin: 0%;
    padding: 0;
box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background:#091921;
}
.clock{
    width: 350px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
background-image:url(download.png) ;
background-size: cover;
border: 6px solid #091921;
border-radius: 50%;
}
.clock:before{
    content: '';
position:absolute;
width: 15px;
height: 15px;
background: rgb(252, 250, 250);
border-radius: 50%;

}
.clock.hour,
.clock.min,
.clock.sec
{
position: absolute;

}
.clock.hour,.hr{
    width: 160px;
    height: 160px;

}
.clock.min,.mn{
    width: 190px;
    height:190px;
}
.clock.sec.sc{
    width: 230;
    height: 230;

}
.hr,.mn,.sc{
    display:flex;
    justify-content: center;
    position: center;
}
.hr:before
{
content: '';
position:absolute;
width:7px;
height:80px;
background: rgb(248, 43, 7);
}
.mn:before{
    content: '';
position:absolute;
width:4px;
height:90px;
background:rgb(238, 234, 234)
}