* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  /* margin-bottom: 2px solid red;
  box-shadow: 0 0 0 0 0.8rem red; */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.912);
  width: 100%;
  height: 8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.141);
  z-index: 999;

  padding-top: 0;
  padding-bottom: 0;
}
.section-hero {
  background-color: rgba(248, 202, 115, 0.708);
  padding: 9.6rem 0;
  /* height: 100vh; */
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;

  margin: 0px auto;
  align-items: center;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}
.hero-img {
  width: 90%;
  /* padding-top: -10px; */
  padding-bottom: 30px;
}
.primary-heading {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(69, 67, 67);
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  display: block;
  font-weight: 600;
}
.subheading {
  display: block;
  color: rgba(255, 98, 0, 0.805);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}
.secomndary-heading {
  display: block;
  width: 1200px;
  font-size: 3.2rem;
  color: rgb(69, 67, 67);
  line-height: 2rem;
  margin-bottom: 2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  font-weight: 100;
}
.btn:link,
.btn:visited {
  font-size: 2.2rem;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 1.5rem;
  margin: 1rem;
  font-weight: 400;
  border-radius: 1rem;
  transition: all 0.5s;
}

.btn1:hover,
.btn1:active {
  background-color: rgb(215, 101, 56);
}

.btn2:link,
.btn2:visited {
  background-color: white;
  color: rgb(69, 67, 67);
}
.btn2:hover,
.btn2:active {
  background-color: rgb(248, 202, 115);
  box-shadow: inset 0 0 0 2px white;
}
.deliver-meals {
  display: flex;
  margin-top: 4.8rem;
  align-items: center;
}
.deliver-imgs {
  display: flex;
}
.deliver-imgs img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 3px solid rgba(248, 202, 115, 0.708);
  /* gap: -20px; */
  margin-right: -2rem;
}
.deliver-meals p {
  font-size: 1.3rem;
  width: 300px;
  display: inline-block;
  margin-left: 2.5rem;
  /*  */
}
.logo {
  height: 2.5rem;
}
.header {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  /* background-color: rgba(248, 202, 115, 0.708); */
}
.main-nav-list {
  list-style: none;
  gap: 4.8rem;
  display: flex;
  font-size: 2rem;
}
.main-nav-list li a {
  text-decoration: none;
  transition: 0.5s;
  color: rgb(69, 67, 67);
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.main-nav-list li a:hover,
.main-nav-list li a:active {
  color: orange;

  /* display: inline-block; */
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2px); */
}
.last-link:link,
.last-link:visited {
  background-color: rgb(244, 158, 72);
  padding: 1.2rem 2.4rem;
  color: black;
}
.last-link:hover,
.last-link:active {
  color: whitesmoke;
  background-color: whitesmoke;
}
/* how secton */

.section-how div {
  padding: 2rem;
  font-size: 2rem;
  margin: 0 4.6rem;
}
.how-grid {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid-2col {
  grid-template-columns: 1fr 1fr;
}
.grid-3col {
  grid-template-columns: 1fr 1fr 1fr;
}
.container {
  margin: 0 auto;
  padding: 0 2.2rem;
  max-width: 120rem;
  /* margin-bottom: 0; */
}
.stp-img {
  width: 50%;
}
.step-description {
  width: 40rem;
  font-size: 1.6rem;
}
.stp-number {
  font-size: 8rem;
  font-weight: 800;
  color: rgba(128, 128, 128, 0.479);
}
.stp-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tertiary-heading {
  margin-bottom: 2rem;
}
.stp-img-box::before {
  content: "";
  width: 70%;
  /* display: block; */
  background-color: rgba(253, 203, 110, 0.607);
  padding-bottom: 70%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.stp-img-box::after {
  content: "";
  width: 55%;
  /* display: block; */
  background-color: rgba(245, 110, 110, 0.309);
  padding-bottom: 55%;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.heading-featured-in {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.6rem;
}
.section-featured {
  padding: 7rem 0;
}
.logos {
  display: flex;
  /* padding: 3.2rem; */
  /* width: 80%; */
}
.logos img {
  width: 18rem;
  margin: 4rem 2rem;
  height: 5rem;
  /* color: gray; */
  filter: brightness(0);
  opacity: 0.3;
}
/* meals secction */
.meals-head {
  text-align: center;
  margin-bottom: 8rem;
}
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.212);
  border-radius: 2rem;
  overflow: hidden;
  transition: 0.5s;
}
.meal:hover {
  transform: translate(0, -2rem);
  box-shadow: 0 2.4rem 4.8rem rgba(35, 34, 34, 0.123);
}
.meal-img {
  width: 100%;
}
.tag {
  margin-top: 3rem;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  display: inline-block;
  background-color: rgba(0, 128, 0, 0.561);
  /* color: whitesmoke; */
  padding: 2.4px 3.2px;
  border-radius: 1rem;
  color: rgb(41, 37, 37);
}
.tag2 {
  background-color: rgb(255, 191, 0);
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 3rem;
  margin-top: 2.4rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.meal-attribute {
  font-size: 1.6rem;
  /* justify-content: center; */
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* margin-bottom: 2rem; */
}
.meal-icon {
  color: orange;
  width: 2.4rem;
  height: 2.4rem;
}
.meal-content {
  padding: 1rem 4rem 4rem 4rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.list-item {
  font-size: 2rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 2rem;
  /* justify-content: center; */
}
.list-item.meal-icon {
  font-size: 8rem;
}
.diet-list {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  font-weight: 800;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 145, 0);
  border-bottom: 1px solid orange;
  transition: all 0.5s;
}
.link:hover,
.link:active {
  border-bottom: transparent;
  color: orangered;
}
.all-recipes {
  text-align: center;
  margin-top: 8rem;
}
/* testimonials section */
.testimonials-section {
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* padding: 3rem; */
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  padding: 6rem;
}
.testimonial-img {
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 2rem;
  width: 24rem;
}
.testimonial-name {
  font-size: 1.4rem;
}
/* .gallery-item img {
  width: 100%; */
/* } */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  padding-right: 2rem;
}
.gallery-item img {
  /* display: block; */
  width: 100%;
  /* margin-right: 0; */
  transition: all 1s;
  /* margin: 2rem; */
}
.gallery-item img:hover {
  transform: scale(2);
  /* transform: rotate(360deg); */
  transform: scale(1.1);
}
.t1 {
  width: 60rem;
  padding: 9.6rem;
}
.t2 {
  /* width: 40rem; */
}
.testimonials-section {
  background-color: rgba(248, 202, 115, 0.708);
}
.pricing-plan a {
  display: inline-block;
}
/* .price {
  display: grid;
  justify-content: space-around;
} */
.plan-name {
  color: orange;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 2rem;
  /* font-size: 2rem; */
}
.pricing-plan {
  padding: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  box-shadow: 0px 24px 24px rgba(44, 43, 43, 0.215);
  margin-top: 10rem;
  background-color: rgba(248, 202, 115, 0.174);
  transition: 0.5s;
  /* margin-bottom: 20rem; */
  width: 30%;
  /* margin-left: 20rem;
  margin-right: 20rem; */
}
.pricing-plan:hover {
  transform: scale(1.05);
}
.plan-price {
  font-size: 4rem;
  font-weight: 600;
}
.plan-price span {
  font-size: 2.5rem;
}
.plan-text {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 5.2rem;
}
.price-btn {
  margin-top: 40rem;
  display: inline-block;
  margin-left: 4rem;
  text-align: center;
}
.price {
  display: flex;
  justify-content: space-around;
  gap: 0.001rem;
}
.plan-list {
  margin-bottom: 4rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}
.price-top {
  margin-top: 10rem;
}
.pricing-plan-complete {
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::after {
  content: "best value";
  background-color: yellow;
  position: absolute;
  top: 8%;
  /* right: -80%; */
  left: 68%;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  transform: rotate(45deg);
  /* right: 6%; */
  display: inline-block;
  text-align: center;
  width: 10rem;
  font-weight: 700;
}
.featured-section {
  margin: 12rem 12rem;
}
.featured-heading {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.featured-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.featured-icon {
  font-size: 4rem;
  color: rgb(255, 202, 104);
  background-color: rgba(243, 200, 119, 0.229);
  padding: 1rem;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 3rem;
}
.featured-col h3 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 700;
  color: rgb(67, 64, 64);
}
.featured-col p {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 300;
}
/* cta  */

.cta {
  background-color: rgba(255, 166, 0, 0.776);
  height: 50rem;
  margin-bottom: 9.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta-img-box {
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.43),
      rgba(0, 0, 0, 0.437)
    ),
    url("../content/img/eating.jpg");
  /* width: 100%; */
  background-size: cover;
  background-position: center;
}
.cta-content-box {
  padding: 6.4rem;
}
.cta-content-box h2 {
  font-size: 4.2rem;
  margin-bottom: 3.2rem;
  color: rgb(64, 16, 10);
}
.cta-content-box p {
  font-size: 1.6rem;
  line-height: 2;
  color: rgb(64, 16, 10);
  font-weight: 500;
  margin-bottom: 3.2rem;
}
/* form */
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.cta-form input {
  font-size: 1.8rem;
  border-radius: 1.6rem;
  border: transparent;
  padding: 1.2rem;
  box-shadow: 0 1.6rem 1.6rem rgba(0, 0, 0, 0.144);
}
.cta-form select {
  font-size: 1.8rem;
  border-radius: 1.6rem;
  border: transparent;
  padding: 1.2rem;
  display: block;
}
.cta-form button {
  padding: 0rem;
  border: transparent;
  height: 4.2rem;
  color: whitesmoke;
  font-weight: 800;
  font-size: 1.8rem;
  background-color: rgb(111, 48, 26);
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 4.2rem;
  transition: 0.3s;
}
.cta-form button:hover {
  background-color: rgba(134, 57, 51, 0.576);
  color: rgb(111, 26, 26);
}
/* footer */
.footer-cols {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 3.2rem;
}
.footer-icons {
  display: flex;
  font-size: 2.4rem;
  color: rgb(75, 73, 73);
  margin-top: 3rem;
  margin-bottom: 5rem;
  /* margin: 2rem; */
}
.footer-icons ion-icon {
  margin-right: 2rem;
}
footer p {
  font-size: 1.6rem;
  color: gray;
  line-height: 1.5;
}
.p1 {
  margin-bottom: 4rem;
}

footer h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: rgb(100, 94, 94);
}
.copy {
  font-size: 1.4rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  list-style: none;
  gap: 2.4rem;
}
.footer-cols {
  padding-bottom: 20rem;
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 1px solid rgb(255, 72, 0);
  /* background-color: black;
  color: whitesmoke; */
}
/* mobile nav */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: rgb(80, 78, 78);
}
.icon-mobile-nav[name="close"] {
  display: none;
}
