*{
	padding: 0;
	margin: 0;
}
body {
	background-image: url(img/pic.png);
	font-family: sans-serif;
}
div{
	padding: 15px 25px; 
	margin: auto;
	margin-top: 30px;
	width: 400px;
	border-radius: 15px;
	background-color: #e78187;
	box-shadow: 5px 8px 10px 3px rgba(1, 0, 0, 0.4);
}
h1 {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	width: 130px;
	border-radius: 10px;
	background-color: hotpink;
	color: purple;
}
label {
	font-size: 30px;
	font-weight: bold;
	color: purple;
}
input, textarea{
	padding: 10px;
	border-radius: 5px;
	background-color: pink;
	font-size: 20px;
	margin: 20px 0;
	width: 85%;
	border: none;
}
input:focus, textarea:focus {
	outline: none;
}
button {
	padding: 10px 10px;
	color: purple;
	background-color: pink;
	margin: 13px 0;
	padding-bottom: 5px;
	font-size: 22px;
	border-radius: 10px;
	border: none;
}
button:hover, button:focus {
	background-color: lightgrey;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
}
#components {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	gap: 20px 10px;
	flex-wrap: wrap;
}
#components div{
	width: 350px;
}
#components h2{
    font-weight: 500;
    font-size: 26px;
    word-wrap: break-word;
    color: purple;
}
#components p {
	word-wrap: break-word;
	font-size: 20px;
	font-weight: 300;
	color: purple;
}
#components hr {
	margin: 16px 0;
	color: purple;
}
