header
    nav.navbar
        
        .title MOVIE BINGE

        .logo 
            img(src="./../images/logo.jpg", alt="movie-logo")

        //- div(id = "account" class = "user")
        //-     .link
        //-         a(href = "#") Login
        //-         a(href = "#") SignUp 
        //-     .profile Hello! Sourabh 😊



