@import url("https://fonts.googleapis.com/css?family=Cabin|Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  color: #5e5e5e;
  text-align: center;
  background: black;
  font-family: "Cabin", sans-serif;
}
.Input {
  text-align: center;
  width: 300px;
  font: italic 20px Verdana;
  border-width: 5px;
  border-style: solid;
  border-color: orange;
}
h1 {
  text-align: center;
  color: rgb(39, 60, 117);
  background-color: rgb(255, 255, 255);
}
h2 {
  font-style: italic;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: crimson;
}
p {
  text-align: center;
  font-size: 200%;
}
h4 {
  color: antiquewhite;
}
.Submit {
  color: blanchedalmond;
  background-color: #273c75;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
textarea {
  width: 900px;
  height: 40px;
  resize: none;
}
