@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --tyrian-purple: #501537;
    --magenta: #922d50;
    --beauty: #d05757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(/img/victor-freitas-vqDAUejnwKw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    background: #000000d0;
    color: white;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    min-height: 35vh;
}

.main-wrapper {
    max-width: 1080px;
}

.bmi-heads {
    display: flex;
    align-items: center;
}

.bmi-heads .bmi-head {
    padding: 1.6rem;
    width: 100%;
    cursor: pointer;
}

.active-head {
    background: var(--beauty);
    border-radius: 15px;
}

.bmi-content {
    padding: 2rem;
}

.form-group {
    padding: 0.2rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.form-group.col-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}

.gender-bmi {
    display: contents;
    /* justify-content: center; */
    /* gap: 50px; */
}

.form-control {
    width: 100%;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    margin: 0.2rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.form-control:focus {
    outline: 0;
}

.form-control::placeholder {
    text-align: right;
    opacity: 0.6;
}

.btns {
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns .btn {
    width: 100px;
    margin: 0 0.5rem;
    padding: 0.8rem 0;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: var(--beauty);
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 0.5px;
    border-radius: 10px;
}

.btns .btn:hover {
    outline: 0;
    opacity: 0.7;
}

.btns .btn:focus {
    outline: 0;
}

#bmi-usc,
#bmi-si {
    display: none;
}

/* js related */

.show-bmi {
    display: block !important;
}

.alert-error {
    text-align: center;
    padding: 0.9rem 1.3rem 0;
    color: white;
    display: none;
}

.bmi-output {
    padding: 1rem 1.6rem;
    text-align: center;
}

#bmi-value {
    padding-bottom: 0.4rem;
}

#bmi-category {
    color: var(--beauty);
}

#bmi-gender {
    text-transform: capitalize;
}