* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent_div {
    width: 30vw;
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #A8E890;
    border-radius: 10px;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn {
    background-color: #A8E890;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: transparent;
    color: #A8E890;
    border: 1px solid #A8E890;
}

input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #A8E890;
    border-radius: 10px;
    width:100%
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}