body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid #fff;
    background-color: #111;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    font-size: 18px;
  }
  
  th {
    background-color: #ff0000;
    color: #fff;
  }
  
  td {
    background-color: #222;
    color: #fff;
  }
  
  tr:hover {
    background-color: #333;
  }
  
  .input-container {
    margin-bottom: 30px;
  }
  
  .input-container input {
    margin-right: 10px;
    font-size: 16px;
    padding: 5px;
    width: 150px;
  }
  
  button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #990000;
  }