
.container{
    background-color: #bbb;
}

h1{
    margin: auto;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;  
    text-decoration: underline;
    background-color: #750550;
    color: white;
    border-top-width:2px;
    border-style: solid;

}
h3{
    border-color: black;
    border-width:2px;
    border-style: solid;
}
.footer{
    position: fixed;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #750550;
    color: white;
    text-align: center;
    border-top-width:2px;
    border-style: solid;
}

ul{
    text-align: center;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}
.img_div{
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.img_div1{
    border-width: 2px;
    border-color: black;
    border-right: solid;
}
img{
    height: 400px;
    width: 350px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
p{
    width: auto;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;  
    text-decoration: underline;
    padding: auto;
    text-align: center;
}

.p2,.img1{
    float: left;
}
.img2,.p1{
    float: right;
}
.rule_book{
    text-align: center;
    width: 400px;
    margin: 30px auto;
}
