@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif ;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background: url("./Assests/library.jpg") no-repeat center center/cover ;
    text-align:center ;
}

.heading{
    border: 2px solid black;
    font-weight:bold;
    font-size: 1.7rem;
    background: #313131;
    color: #ffead4;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin:1.2rem;
}

.main-content{
    background: #525252;
    width: 60%;
    border-radius: 5px;
    margin:1.2rem auto;
    padding: 2rem;
    box-shadow: 0 0 5px 5px #343434;

}

.text-area{
    margin: 1rem 0 1rem 0;
    font-size:1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: #ffce83;
    height:15vh;
}

.main-content .person{
    margin :1rem;
    font-family:'Montserrat',"sans-serif";
    color: #ffead4;
    font-size:1rem;
    font-weight: bold;
    letter-spacing: 0.3rem ;
    text-transform: uppercase;
}

.main-content .generator {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #ff5151;
    background-color: #343434;

}

.main-content .generator:hover{
    background-color: #212121;
}
.main-content .generator:active{
    background-color:#343434;
}




